scihandlers = {}

############################################################
#region 
import importantmodule from "./importantmodule" 

############################################################
scihandlers.authenticate = # to define

#endregion

{{#components}}
############################################################
#region {{{name}}}.coffee
{{{coffee}}}
#endregion

{{/components}}


export default scihandlers
